.footer {
  background: rgba(235, 228, 228, 0.7);
  padding: 10px 0;
  color: black;
  font-weight: bolder;
  letter-spacing: 3px;
  font-family: 'Indie Flower', cursive;
  position: fixed;
  height: 3rem;
  width: 100%;
  bottom: 0;
  text-align: center;
}
