@import url('https://fonts.googleapis.com/css?family=Poly&display=swap');

.footer {
  background: rgba(235, 228, 228, 0.7);
  padding: 10px 0;
  color: black;
  font-family: 'Poly', serif;
  position: fixed;
  height: 3rem;
  width: 100%;
  bottom: 0;
  text-align: center;
}
