.formInput {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.formInput #inputEle {
  width: 500px;
  height: 4rem;
  -webkit-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.formInput #inputEle .focusedEle {
  font-size: 2em;
  border-radius: 4px;
  -webkit-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
  background: #f5f3ee;
}

.formInput #inputEle .focusedEle::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.formInput #inputEle .focusedEle:focus {
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  -webkit-box-shadow: 1px 1px 3px black;
  box-shadow: 1px 1px 3px black;
}

.formInput #inputEle #iconEle {
  font-size: 2.25rem;
}

@media (max-width: 600px) {
  .formInput #inputEle {
    width: 280px;
    -webkit-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    transition: all linear 0.1s;
  }
  .formInput #inputEle .focusedEle {
    font-size: 1.5em;
    -webkit-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    transition: all linear 0.1s;
  }

  .formInput #inputEle #iconEle {
    font-size: 1.55rem;
  }
}
