$transProp: all linear 0.1s;

.formInput {
  text-align: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 70%);
  width: 100%;
  top: 0;
  z-index: 99;

  #inputEle {
    width: 70%;
    height: 4rem;
    transition: $transProp;
    margin-top: 1rem;
    .focusedEle {
      font-size: 2em;
      border-radius: 80px;
      transition: $transProp;
      background: rgb(245, 243, 238);
      &:focus {
        transition: all linear 0.2s;
        box-shadow: 1px 1px 3px black;
      }
    }
    #iconEle {
      font-size: 2.25rem;
    }
  }
}

@media (max-width: 850px) {
  .formInput {
    #inputEle {
      height: 3rem;
      transition: $transProp;
      .focusedEle {
        font-size: 1.5rem;
        transition: $transProp;
      }
      #iconEle {
        font-size: 1rem;
      }
    }
  }
}
