.imageList {
  .textEle {
    text-align: center;
    margin: 1.2rem 0;
    letter-spacing: 2px;
    font-family: cursive;
    .boldEle {
      font-weight: bolder;
      margin: 0 3px;
      letter-spacing: inherit;
    }
  }
}
