.imageList {
  .textEle {
    text-align: center;
    margin: 1.2rem 0;
    letter-spacing: 1px;
    .boldEle {
      font-weight: bolder;
      margin: 0 3px;
      letter-spacing: 2px;
    }
  }
  .containerPar {
    // mobile-first column count, reponsiveness added later
    column-count: 1;
    column-gap: 20px;
    column-fill: balance;
    // margin: 20px auto 0;
    @media (min-width: 600px) {
      column-count: 2;
    }
    @media (min-width: 900px) {
      column-count: 3;
    }
    @media (min-width: 1200px) {
      column-count: 4;
    }
    @media (min-width: 1700px) {
      column-count: 5;
    }
  }
}
