.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px;
  border: thin solid black;
  background: rgba(225, 225, 225, 0.85);
  border-radius: 4px;
  width: 750px;
  text-align: center;
  transition: all 0.15s ease;
}

.register form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  transition: all 0.15s ease;
}

.register form .registerInp {
  width: 100%;
  margin: 10px 0;
  border: none;
  background: white;
  border-radius: 4px;
  font-size: 20px;
  padding: 10px;
  outline: none;
}
.register form .registerInp::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 850px) {
  .register {
    width: 450px;
    transition: all 0.15s ease;
  }
  .register form {
    width: 90%;
    transition: all 0.15s ease;
  }
}
@media (max-width: 499px) {
  .register {
    width: 300px;
    transition: all 0.15s ease;
  }
  .register form {
    width: 100%;
    transition: all 0.15s ease;
  }
}
